body, html {
	height: 100%;

}

.header {
	width: 100%;
	height: 100vh; /*view heigth, 100% of the view height */
	/*background-color: #998260;*/
	margin: 0;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	/* for an image */
	background-image: url("images/fadedskyline.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	font-family: 'Abril Fatface', cursive;
}

.header div {
	font-size: 10em;
	margin: 1em;
	text-align: center;
}

/**************************************************/

.content {
	width: 100%;
	/*height: 200px;*/
	display: flex;
	background-color: #503e3e;
}


/*************************************************/

.leftside {
	display: flex;
	width: 20%;
	background-color: #5a9c6d;
	justify-content: flex-start;
	line-height: 5em;
	font-size: 1.5em;
	margin: 10px;
	flex-direction: column;
	border-radius: 15px;
}

.leftside div {
	background-color: #5a9c6d;
	border-radius: 11px;
}

.leftside div a {
	padding-left: 0.7em;
	display: block;
	text-decoration: none;
	color: black;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.leftside div a#topMenuItem {
	background-color: #3E5043;
}

.leftside div a:hover {	
	background-color: #3E5043; 
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.leftside div a#topMenuItem:hover { 
	background-color: #3E5043; 
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

/*************************************************/

.rightside {
	display: flex;
	width: 80%;
	background-color: #9C8686;
	justify-content: center;
	line-height: 1em;
	font-size: 1.4em;
	margin: 10px;
	flex-wrap: wrap;
	border-radius: 10px;
}

.rightside div {
	margin: 0.5em;
	margin-left: 1em;
}

/*************************************************/

.footer {
	display: flex;
	justify-content: center;
	background-color: #9D7A7A;
	line-height: 5em;
	font-size: 3em;
}

.tab {
	margin-left: 30px;
}

